@import '~bootstrap/scss/bootstrap';

.card {
}

.badge.bg-light {
  color: $dark;
}

.nav {
  margin-bottom: 1rem;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  position: relative;
}

.meals-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}

.form-check-input {
  margin: 0.75rem;
}
